<a href="https://colab.research.google.com/github/trinhho384/GIS-Programming/blob/main/Lecture_03_Data_Types_and_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Data Structures**

---

<br>

## Packages

In [ ]:
# install packages for today's lecture
install.packages("dslabs")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# load the necessary packages
library(dslabs)

<br>

<br>

**bold text**## Data Types

* The `R` programming language has several data types

* For this class, and in practice, the data types most often used for data science are
  *   `numeric`
  *   `character`
  *   `logical`
  *   `integer`

<br>

<br>

* **Today, we focus on the `numeric` and `character` data types**

<br>

<br>

* The `logical` data type will be covered extensively in the lecture on subsetting

* The `integer` data type will be briefly mentioned in the lecture on loops

<br>

### `numeric` data type

* The numeric data type is, well, a number!

* You can check the data type of your variables using the `class()` function

In [ ]:
# store a numeric value as a variable
x <- 3.14
x

[1] 3.14

<br>

In [ ]:
# check the data type of the stored variable using class()
class(x)

[1] "numeric"

[1] "numeric"

<br>

* We see above that the class of the variable `x` is `numeric`

<br>

In [ ]:
# store a value as a variable
y <- 5
y

[1] 5

<br>

In [ ]:
# check the data type of the stored variable using class()
class(y)

[1] "numeric"

<br>

* Although the variable `y` is assigned the "integer" value of 5, the class of the variable `y` is still `numeric`

<br>

<br>

### `character` data type

* The character data type is essentially text

* A character is denoted by quotations `" "` or apostrophes `' '` surrounding a letter or phrase

In [ ]:
# store text value as a variable
my_text <- "this is my text"

<br>

In [ ]:
# check the data type of the stored variable using class()
class(my_text)

[1] "character"

<br>

* We see above that the class of the variable `my_text` is `character`

<br>

* We can also use apotrophes to define a `character` data type

In [ ]:
# store a value as a variable
my_text2 <- 'this is my text'
my_text2

[1] "this is my text"

<br>

In [ ]:
# check the data type of the stored variable using class()
class(my_text2)

[1] "character"

<br>

* Caution: Numeric data can be stored as a `character` data type

In [ ]:
# store a value as a variable
my_text3 <- '3.14'
my_text3

[1] "3.14"

<br>

In [ ]:
# check the data type of the stored variable using class()
class(my_text3)

[1] "character"

<br>

<br>

### `logical` data type

* The `logical` data type (also known as a Boolean) is VERY IMPORTANT!!!
* They are binary values that take on values of `TRUE` or `FALSE`. In R,
  *   `0` is `FALSE`
  *   `1` is `TRUE`

<br>

In [ ]:
# store a logical variable
my_logical <- TRUE
my_logical

[1] TRUE

<br>

In [ ]:
# check the data type of the stored variable using class()
class(my_logical)

[1] "logical"

<br>

In [ ]:
# store a logical variable
my_logical <- FALSE
my_logical

[1] FALSE

<br>

In [ ]:
class(my_logical)

[1] "logical"

<br>

<br>

### `integer` data type

* The `integer` data type is often used for looping mechanisms (covered later)
* Numbers are stored as the `numeric` data type by default
* We can convert the `numeric` data type to an `integer` data type using `as.integer()`

<br>

In [ ]:
# store a numeric data type
b <- 5

<br>

In [ ]:
# check the data type of the stored variable using class()
class(b)

[1] "numeric"

<br>

In [ ]:
# convert to an integer data type using as.integer()
b <- as.integer(b)

<br>

In [ ]:
# check the data type of the stored variable using class()
class(b)
c

[1] "integer"

function (...)  .Primitive("c")

<br>

<br>

## Converting Between Data Types

* Sometimes, you may encounter data stored in the incorrect data type
* Therefore, it is helpful to convert between data types using the following functions
  * `as.numeric()`
  * `as.character()`
  * `as.logical()`
  * `as.integer()`

<br>

### `as.numeric()`

In [ ]:
# store a character data type
c <- '3.14'
c

[1] "3.14"

In [ ]:
# checking the data type using class()
class(c)

[1] "character"

<br>

In [ ]:
# convert the character data type to numeric
c <- as.numeric(c)
c

[1] 3.14

In [ ]:
# checking the data type using class()
class(c)

[1] "numeric"

<br>

<br>

### `as.character()`

In [ ]:
# store a character data type
c <- 3.14
c

[1] 3.14

In [ ]:
# checking the data type using class()
class(c)

[1] "numeric"

<br>

In [ ]:
# convert the numeric data type to character
c <- as.character(c)
c

[1] "3.14"

In [ ]:
# checking the data type using class()
class(c)

[1] "character"

<br>

<br>

### `as.logical()`

In [ ]:
# store a numeric data type
c <- 1
c

[1] 1

In [ ]:
# checking the data type using class()
class(c)

[1] "numeric"

<br>

In [ ]:
# convert the character data type to numeric
c <- as.logical(c)
c

[1] TRUE

In [ ]:
# checking the data type using class()
class(c)

[1] "logical"

<br>

In [ ]:
# store a numeric data type
c <- 0
c

[1] 0

In [ ]:
# checking the data type using class()
class(c)

[1] "numeric"

<br>

In [ ]:
# convert the character data type to numeric
c <- as.logical(c)
c

[1] FALSE

In [ ]:
# checking the data type using class()
class(c)

[1] "logical"

<br>

<br>

---

<br>

## Data Structures

<br>

* Data types can be considered the most basic form of data

* A collection of data types form what we call a **data structure**

* The `R` programming language has many data structures

<br>

* Data structures we will commonly use in `R` are:
  *  dataframes
  *  vectors
  *  factors (categorical data)
  *  lists

<br>

* In today's lecture, we will cover data frames as they are the most important data structure for data science in R!

<br>

<br>

### Dataframes

* Dataframes are possibly the most important data structure for this course

* If our data is not in the form of a dataframe, then we typically convert our data into a dataframe

<br>

* We can load the `murders` dataset from the `dslabs` library as a data frame example

* A dataframe, as shown below, is essentially a table with rows and columns

* Each row represents an **observation**

* Each column represents a **variable** describing some attribute of each observation

In [ ]:
murders

   state                abb region        population total
1  Alabama              AL  South          4779736    135
2  Alaska               AK  West            710231     19
3  Arizona              AZ  West           6392017    232
4  Arkansas             AR  South          2915918     93
5  California           CA  West          37253956   1257
6  Colorado             CO  West           5029196     65
7  Connecticut          CT  Northeast      3574097     97
8  Delaware             DE  South           897934     38
9  District of Columbia DC  South           601723     99
10 Florida              FL  South         19687653    669
11 Georgia              GA  South          9920000    376
12 Hawaii               HI  West           1360301      7
13 Idaho                ID  West           1567582     12
14 Illinois             IL  North Central 12830632    364
15 Indiana              IN  North Central  6483802    142
16 Iowa                 IA  North Central  3046355     21
17 Kansas               KS  North Central  2853118     63
18 Kentucky             KY  South          4339367    116
19 Louisiana            LA  South          4533372    351
20 Maine                ME  Northeast      1328361     11
21 Maryland             MD  South          5773552    293
22 Massachusetts        MA  Northeast      6547629    118
23 Michigan             MI  North Central  9883640    413
24 Minnesota            MN  North Central  5303925     53
25 Mississippi          MS  South          2967297    120
26 Missouri             MO  North Central  5988927    321
27 Montana              MT  West            989415     12
28 Nebraska             NE  North Central  1826341     32
29 Nevada               NV  West           2700551     84
30 New Hampshire        NH  Northeast      1316470      5
31 New Jersey           NJ  Northeast      8791894    246
32 New Mexico           NM  West           2059179     67
33 New York             NY  Northeast     19378102    517
34 North Carolina       NC  South          9535483    286
35 North Dakota         ND  North Central   672591      4
36 Ohio                 OH  North Central 11536504    310
37 Oklahoma             OK  South          3751351    111
38 Oregon               OR  West           3831074     36
39 Pennsylvania         PA  Northeast     12702379    457
40 Rhode Island         RI  Northeast      1052567     16
41 South Carolina       SC  South          4625364    207
42 South Dakota         SD  North Central   814180      8
43 Tennessee            TN  South          6346105    219
44 Texas                TX  South         25145561    805
45 Utah                 UT  West           2763885     22
46 Vermont              VT  Northeast       625741      2
47 Virginia             VA  South          8001024    250
48 Washington           WA  West           6724540     93
49 West Virginia        WV  South          1852994     27
50 Wisconsin            WI  North Central  5686986     97
51 Wyoming              WY  West            563626      5

<br>

* Similar to the data types, we can also check the type of data structure using the `class()` function

In [ ]:
# check the type of of class
class(murders)

[1] "data.frame"

<br>

<br>

#### `head()`

* Data frames can have many observations
* The `head()` function is useful for viewing the first few lines of a data frame for initial exploration

In [ ]:
# using head() to view first 6 lines (by default)
head(murders)

<br>

In [ ]:
# view the first 2 lines using head()
head(murders, 2)

<br>

<br>

#### `tail()`

* The `tail()` function is useful for viewing the last few lines of a data frame for initial exploration

In [ ]:
# using tail() to view last 6 lines (by default)
tail(murders , 2)

<br>

In [ ]:
# view the last 2 lines using tail()
tail(murders, 2)

<br>

<br>

#### `str()`

* We can use the `str()` function to describe attributes of the dataframe

* From the output below, we observe the following
  * The dataframe `murders` contains 51 observations (rows)
  * There are 5 variables (columns)
  * The variables in the dataframe are `state`, `abb`, `region`, `population`, `total`
  * The dataframe contains `character` (chr), `factor`, and `numeric` (num) data

In [ ]:
# using str()
str(murders)

'data.frame':	51 obs. of  5 variables:
 $ state     : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ abb       : chr  "AL" "AK" "AZ" "AR" ...
 $ region    : Factor w/ 4 levels "Northeast","South",..: 2 4 4 2 4 4 1 2 2 2 ...
 $ population: num  4779736 710231 6392017 2915918 37253956 ...
 $ total     : num  135 19 232 93 1257 ...

<br>

<br>

#### `ncol()`, `nrow()`, `dim()`

* `ncol()` provides the number of variables (columns) in a data frame

In [ ]:
# view the number of columns using ncol()
ncol(murders)

<br>

* `nrow()` provides the number of observations (rows) in a data frame

In [ ]:
# view the number of columns using nrow()
nrow(murders)

[1] 51

<br>

* `dim()` provides both the number of observations and variables of a data frame

In [ ]:
# view the dimensions of a data frame
dim(murders)

[1] 51  5

<br>

<br>

#### `names()`

* The `names()` function extracts all of the variable names of a data frame

In [ ]:
# extract the variable names of the murders data frame
names(murders)

[1] "state"      "abb"        "region"     "population" "total"

   state                abb region        population total
1  Alabama              AL  South          4779736    135
2  Alaska               AK  West            710231     19
3  Arizona              AZ  West           6392017    232
4  Arkansas             AR  South          2915918     93
5  California           CA  West          37253956   1257
6  Colorado             CO  West           5029196     65
7  Connecticut          CT  Northeast      3574097     97
8  Delaware             DE  South           897934     38
9  District of Columbia DC  South           601723     99
10 Florida              FL  South         19687653    669
11 Georgia              GA  South          9920000    376
12 Hawaii               HI  West           1360301      7
13 Idaho                ID  West           1567582     12
14 Illinois             IL  North Central 12830632    364
15 Indiana              IN  North Central  6483802    142
16 Iowa                 IA  North Central  3046355     21
17 Kansas               KS  North Central  2853118     63
18 Kentucky             KY  South          4339367    116
19 Louisiana            LA  South          4533372    351
20 Maine                ME  Northeast      1328361     11
21 Maryland             MD  South          5773552    293
22 Massachusetts        MA  Northeast      6547629    118
23 Michigan             MI  North Central  9883640    413
24 Minnesota            MN  North Central  5303925     53
25 Mississippi          MS  South          2967297    120
26 Missouri             MO  North Central  5988927    321
27 Montana              MT  West            989415     12
28 Nebraska             NE  North Central  1826341     32
29 Nevada               NV  West           2700551     84
30 New Hampshire        NH  Northeast      1316470      5
31 New Jersey           NJ  Northeast      8791894    246
32 New Mexico           NM  West           2059179     67
33 New York             NY  Northeast     19378102    517
34 North Carolina       NC  South          9535483    286
35 North Dakota         ND  North Central   672591      4
36 Ohio                 OH  North Central 11536504    310
37 Oklahoma             OK  South          3751351    111
38 Oregon               OR  West           3831074     36
39 Pennsylvania         PA  Northeast     12702379    457
40 Rhode Island         RI  Northeast      1052567     16
41 South Carolina       SC  South          4625364    207
42 South Dakota         SD  North Central   814180      8
43 Tennessee            TN  South          6346105    219
44 Texas                TX  South         25145561    805
45 Utah                 UT  West           2763885     22
46 Vermont              VT  Northeast       625741      2
47 Virginia             VA  South          8001024    250
48 Washington           WA  West           6724540     93
49 West Virginia        WV  South          1852994     27
50 Wisconsin            WI  North Central  5686986     97
51 Wyoming              WY  West            563626      5

In [ ]:
# variables names are a character class
class(names(murders))

<br>

<br>

#### Extracting variables using the `$` operator

* To access a single variable, we use the `$` operator

* The following code extracts the `population` variable from the `murders` dataframe

In [ ]:
# extract a variable from a dataframe using $
murders$population

 [1]  4779736   710231  6392017  2915918 37253956  5029196  3574097   897934
 [9]   601723 19687653  9920000  1360301  1567582 12830632  6483802  3046355
[17]  2853118  4339367  4533372  1328361  5773552  6547629  9883640  5303925
[25]  2967297  5988927   989415  1826341  2700551  1316470  8791894  2059179
[33] 19378102  9535483   672591 11536504  3751351  3831074 12702379  1052567
[41]  4625364   814180  6346105 25145561  2763885   625741  8001024  6724540
[49]  1852994  5686986   563626

<br>

* Accessing a single variable from the dataframe results in a vector!

* This is our next data structure...

<br>

<br>

### Vectors

* A vector is a collection of elements that share the same data type

* That is,
  * all values in a numeric vector must be numeric
  * all values in a character vector must be a character

<br>

* For example, the `population` variable from the `murders` dataframe is a numeric vector

* We can check the data type in the vector using the `class()` function

In [ ]:
# store the population column as pop
pop <- murders$population
# check stored properly
pop

 [1]  4779736   710231  6392017  2915918 37253956  5029196  3574097   897934
 [9]   601723 19687653  9920000  1360301  1567582 12830632  6483802  3046355
[17]  2853118  4339367  4533372  1328361  5773552  6547629  9883640  5303925
[25]  2967297  5988927   989415  1826341  2700551  1316470  8791894  2059179
[33] 19378102  9535483   672591 11536504  3751351  3831074 12702379  1052567
[41]  4625364   814180  6346105 25145561  2763885   625741  8001024  6724540
[49]  1852994  5686986   563626

<br>

In [ ]:
# check the data type of the vector pop
class(pop)

[1] "numeric"

<br>

<br>

* The `state` variable from the `murders` dataframe is a character vector

* We can check the data type in the vector using the `class()` function

In [ ]:
# show the contents of the state variable
murders$state

 [1] "Alabama"              "Alaska"               "Arizona"
 [4] "Arkansas"             "California"           "Colorado"
 [7] "Connecticut"          "Delaware"             "District of Columbia"
[10] "Florida"              "Georgia"              "Hawaii"
[13] "Idaho"                "Illinois"             "Indiana"
[16] "Iowa"                 "Kansas"               "Kentucky"
[19] "Louisiana"            "Maine"                "Maryland"
[22] "Massachusetts"        "Michigan"             "Minnesota"
[25] "Mississippi"          "Missouri"             "Montana"
[28] "Nebraska"             "Nevada"               "New Hampshire"
[31] "New Jersey"           "New Mexico"           "New York"
[34] "North Carolina"       "North Dakota"         "Ohio"
[37] "Oklahoma"             "Oregon"               "Pennsylvania"
[40] "Rhode Island"         "South Carolina"       "South Dakota"
[43] "Tennessee"            "Texas"                "Utah"
[46] "Vermont"              "Virginia"             "Washington"
[49] "West Virginia"        "Wisconsin"            "Wyoming"

<br>

In [ ]:
# check the data type of the state variable
class(murders$state)

[1] "character"

<br>

<br>

#### `length()`

* The `length()` function outputs the length of the vector

In [ ]:
# determine the length of a vector
length(murders$total)

[1] 51

[1] 51

<br>

<br>

## Creating Vectors and Data Frames

* If we collected our own data, we would like to store the data in a data frame

* Therefore, it would be helpful to know how to create our own vectors and data frames

<br>

<br>

### Creating Vectors

* We can create vectors using the `c()` function

* Here, the 'c' in `c()` represents the word "concatenate"

* To concatenate a set of objects is to link them or connect them together

<br>

<br>

* The example below concatenates the number 2 and 8 using the `c()` to create a vector

* The vector is then assigned to the variable `my_vector`

In [ ]:
# create a vector using the c() function
my_vector <- c(2, 8)
my_vector

[1] 2 8

In [ ]:
# check the class of my_vector
class(my_vector)
class(my_vector)

[1] "numeric"

[1] "numeric"

<br>

<br>

### Creating data frames

* Variables (columns) of a data frame are vectors

* We can create a data frame from several vectors

* Note that these vectors must all be the same length

<br>

<br>

* Let's create a data frame with 4 observations (rows) and 4 variables (columns)

* The first step is to create the vectors for each variable
  * mood
  * hours
  * weather
  * calories

In [ ]:
# create variables using c()
mood        <- c("happy", "sad", "sad", "happy")
hours       <- c(1, 2, 1, 4)
weather     <- c("sunny", "cloudy", "cloudy", "sunny")
temperature <- c(75, 62, 71, 83)

<br>

<br>

* Using the four vectors above, we can create a data frame using the `data.frame()` function

In [ ]:
my_data <- data.frame(mood, hours, weather, temperature)
my_data

  mood  hours weather temperature
1 happy 1     sunny   75
2 sad   2     cloudy  62
3 sad   3     cloudy  71
4 happy 4     sunny    2

<br>

<br>

#### Variable names

* Setting variable names when defining the data frame

In [ ]:
# specifying variable names
my_data <- data.frame(my_mood = mood, number_hours = hours, type_of_weather = weather, temperatureF = temperature)

<br>

* Overwriting existing variable names

In [ ]:
# redefine the data frame using old names
my_data <- data.frame(mood, hours, weather, temperature)
my_data

  mood  hours weather temperature
1 happy 1     sunny   75
2 sad   2     cloudy  62
3 sad   1     cloudy  71
4 happy 4     sunny   83

In [ ]:
# check names of the data frame using names()
names(my_data)

[1] "mood"        "hours"       "weather"     "temperature"

<br>

* Create a new character vector of variable names

In [ ]:
# we can create a whole new character vector of names
new_names <- c("my_mood", "number_hours", "type_of_weather", "temperatureF")
names(my_data)

[1] "mood"        "hours"       "weather"     "temperature"

<br>

* Overwrite the existing variable names with the new variable names

In [ ]:
# overwrite the old names using the new names
names(my_data) <- new_names

In [ ]:
# check our work
names(my_data)

[1] "my_mood"         "number_hours"    "type_of_weather" "temperatureF"

<br>

<br>

#### Row names

* In addition to variable (column) names, R also allows names for rows of a data frame
* We can check the row names of a data frame using the `rownames()` function

In [ ]:
my_data

  mood  hours weather temperature
1 happy 1     sunny   75
2 sad   2     cloudy  62
3 sad   1     cloudy  71
4 happy 4     sunny   83

In [ ]:
# view the row names
rownames(my_data)

[1] "1" "2" "3" "4"

<br>

* By default, row names of a data frame simply count the number of rows as shown above
* We an customize our row names, similar to the variable names of a data frame

In [ ]:
# create character vector of new row names
new_row_names <- c("Person 1", "Person 2", "Person 3", "Person 4")
new_row_name <- c("Person 1", "Person 2", "Person 3", "Person4")

In [ ]:
# overwrite old row names
rownames(my_data) <- new_row_names
rownames(my_data) <- new_row_names
my_data

         my_mood number_hours type_of_weather temperatureF
Person 1 happy   1            sunny           75
Person 2 sad     2            cloudy          62
Person 3 sad     3            cloudy          71
Person 4 happy   4            sunny            2

<br>

<br>